<Partition>
    <Definition Name="P4" />
    <!-- Amount of ram allocated (code + stack + static variables) -->
    <Memory Bytes="1M" />

    <Threads Count="10" />

    <ARINC653_Buffers Data_Size="4096" Count="16" />
    <ARINC653_Blackboards Data_Size="4096" Count="16" />
    <ARINC653_Events Count="16" />
    <ARINC653_Semaphores Count="16" />

    <ARINC653_Ports>
        <Sampling_Port Name="WDELTAE" MaxMessageSize="16" Direction="SOURCE" MaxNbMessage="10" Refresh="3ms"/>
        <Sampling_Port Name="RDELTATHC" MaxMessageSize="16" Direction="DESTINATION" MaxNbMessage="10" Refresh="3ms" />
        <Sampling_Port Name="RDELTAEC" MaxMessageSize="16" Direction="DESTINATION" MaxNbMessage="10" Refresh="3ms" />
    </ARINC653_Ports>
    <HM_Table>
        <Error Code="POK_ERROR_KIND_DEADLINE_MISSED" Level="PROCESS" ErrorCode="DEADLINE_MISSED" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_APPLICATION_ERROR" Level="PROCESS" ErrorCode="APPLICATION_ERROR" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_NUMERIC_ERROR" Level="PROCESS" ErrorCode="NUMERIC_ERROR" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_ILLEGAL_REQUEST" Level="PROCESS" ErrorCode="ILLEGAL_REQUEST" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_STACK_OVERFLOW" Level="PROCESS" ErrorCode="STACK_OVERFLOW" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_MEMORY_VIOLATION" Level="PROCESS" ErrorCode="MEMORY_VIOLATION" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_HARDWARE_FAULT" Level="PROCESS" ErrorCode="HARDWARE_FAULT" Action="COLD_START" />
        <Error Code="POK_ERROR_KIND_POWER_FAIL" Level="PROCESS" ErrorCode="POWER_FAIL" Action="COLD_START" />
    </HM_Table>

</Partition>
